.container {
  display: flex;
  flex-direction: column;

  position: sticky;
  top: 0;

  width: 275px;
  padding: 0 13px;

  padding-top: 2px; /* to fit the focus highlight */

  & :global(.lucide) {
    width: 1.35em;
    height: 1.35em;
  }
}

.sidebar-nav {
  display: flex;
  flex-direction: column;

  padding-bottom: 0.5em;

  font-size: var(--font-size-h3);
}

.notification-icon-container {
  display: flex;
  align-items: center;

  position: relative;
}
.notification-icon-dot {
  composes: round from "../../css/theme.module.css";

  position: absolute;

  top: -0.2em;
  right: -0.1em;

  width: 0.5em;
  height: 0.5em;

  background-color: var(--colors-action);
}
