.container {
  display: flex;
  flex-grow: 1;
}

.sidebar {
  display: flex;
  flex-direction: column;

  width: 350px;
  padding: 0 13px;
  padding-left: 53px;

  padding-top: 2px; /* to fit the focus highlight */
}

.content-area {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  max-width: 600px;

  border: var(--border-separator);
  border-top: none;
  border-bottom: none;
}

.header {
  composes: h2 from "../../css/typography.module.css";

  display: flex;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 1;

  background-color: #000000a6;
  backdrop-filter: blur(12px);

  padding: 0.25em 0.75em;
  padding-right: 0.25em;

  font-weight: bold;
}

.new-post-banner {
  background-color: transparent;
  border: none;
  text-decoration: none;
  font: inherit;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 18px;

  color: var(--colors-action);
  border-top: var(--border-separator);

  transition-property: background-color, box-shadow;
  transition-duration: var(--transition-duration);

  &:focus {
    outline: none;
    box-shadow: var(--shadow-focus-action) inset;
    background-color: #16181c;
  }
  &:hover {
    background-color: #ffffff08;
  }
}

.composer-container {
  composes: h2 from "../../css/typography.module.css";

  display: flex;
  padding: 18px;
}

.composer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1em;

  padding: 0 0.3em;
  padding-top: calc(2.5em / 2 - 30em / 44);

  & textarea {
    padding: 0;
    padding-left: 0.45em;

    font: inherit;

    border: none;
    resize: none;

    color: inherit;
    background: inherit;

    &:focus {
      outline: none;
    }
    &::placeholder {
      color: #71767a;
    }
  }
}

.controls {
  display: flex;
  gap: 0.25em;

  color: var(--colors-action);
  font-size: 85%;
}
