* {
  box-sizing: border-box;
}

body {
  margin: 0;

  width: 100vw;
  min-height: 100vh;

  background-color: var(--colors-background);
  color: var(--colors-foreground);

  font-family: var(--font-primary);
  font-size: var(--font-size-base);

  overscroll-behavior-y: none;
}

:global {
  & .lucide {
    width: 1em;
    height: 1em;
  }

  & #app-root {
    display: flex;
    height: 100%;
  }
}
