.container {
  display: flex;
  flex-direction: column;

  padding: 13px 18px;

  border-top: var(--border-separator);
}

.repost-line {
  display: flex;
  align-items: center;

  padding-left: 2.75em;
  padding-bottom: 0.25em;
  gap: 0.75em;

  font-weight: bold;
  color: var(--colors-foregorund-muted);

  & > span {
    font-size: var(--font-size-diminished);
  }
}

.header {
  display: flex;
  gap: 0.25em;
}

.name {
  font-weight: bold;
}

.header-data {
  display: flex;
  gap: 0.25em;

  color: var(--colors-foregorund-muted);
}

.content {
  padding-left: 0.75em;
  line-height: 1.3;
}
